<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>g12_lab08_Vasilieva</title>
    </head>

    <body>
    	
		<table>
			<td><a href="{{url_for('index')}}">goto original page</a></td>
			<td> | </td>
			<td><a href="{{url_for('page2')}}">goto another page</a></td>
			<td> | </td>
			<td><a href="{{url_for('page5')}}">goto extensible page</a></td>
			<td> | </td>
			<td><a href="{{ url_for('send') }}">goto form page</a></td>
			<td> | </td>
			<td><a href="{{ url_for('password') }}">goto password page</a></td>
		</table>
		<hr>
		{% block massages %}	
		<img src="{{url_for('static', filename='ing1.png')}}">
		<br>
		original content
		{% endblock %}
		{% block content %}
			<ul>
				{% for msg in get_flashed_messages() %}
					<li>{{ msg }} </li>
				{% endfor %}
			</ul>
		{% endblock %}	
    </body> 
</html>
